.Burger {
    width: 100%;
    margin: auto;
    height: 250px;
    overflow: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

@media (min-width: 500px) and (min-height: 400px) {
    .Burger {
        width: 310px;
        height: 213px;
    }   
}

@media (min-width: 500px) and (min-height: 401px) {
    .Burger {
        width: 350px;
        height: 233px;
    }   
}

@media (min-width: 900px) and (min-height: 600px) {
     .Burger {
         width: 390px;
         height: 253px;
     }   
}